<%= render 'shared/errors', object: @question %>

<%= form_with model: @question do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= f.label :title %>
    </div>

    <div class="col-sm-9">
      <%= f.text_field :title, placeholder: "Title", class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-9">
      <%= f.text_area :body, class: 'form-control'  %>
    </div>
  </div>

    <div class="mb-3 row">
      <div class="col-sm-1 col-form-label">
        <%= f.label :tags %>
      </div>


      <div class="col-sm-9">
        <%= f.collection_select :tag_ids, tags, :id, :title, {}, multiple: true,
        class: 'js-multiple-select w-100'%>
      </div>
    </div>


  <%= f.submit t('btn.submit'), class: 'btn btn-secondary' %>
<% end %>